.stepWrapper{
  @apply w-5/6; 
  @apply mx-auto;
  @apply bg-black-600;
  @apply p-32;
  @apply rounded-md;
  @apply relative;
  height: 350px;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply text-left;

  .ctaNext{
    @apply mx-auto;
    @apply block;
    width: 200px;
    @apply text-center;
  }
}
.detailProgress{ 
  @apply mt-16;
  
  .progressWrapper{
    @apply flex;
    @apply justify-between;
    @apply w-2/3; 
    @apply mx-auto;
    @apply mt-8;

    .circle{
      width: 50px;
      height: 50px;
      border-radius: 100%;
      @apply bg-black-600;
      @apply flex;
      @apply justify-center;
      @apply items-center;
      @apply font-semibold;
    }

    .greenCircle{
      @apply bg-success-600;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      @apply flex;
      @apply justify-center;
      @apply items-center;
      @apply font-semibold;
    }
  }
}

.backButton{
  @apply text-white;
  @apply cursor-pointer;
  @apply absolute;
  top: 5px;
  left: 0px;
}

@screen sm{
  .stepWrapper{
    @apply w-1/3; 
    @apply px-64;
    @apply p-32;
  }
  .detailProgress{ 
  .progressWrapper{
    @apply w-1/3; 
  }
}
}
@screen md{

}
@screen lg {

  }