@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import '../../../node_modules/@mdi/font/css/materialdesignicons.min.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f3f3;
}
body .containerFull, body .container{
    @apply w-full;
    @apply p-0;
    @apply mx-auto;
    max-width: 1200px;
}
body .containerFull{
  max-width: unset;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  @apply text-white;
}

a,p, div p{
    font-size: 16px;
    @apply text-white;
}

h1,h2, .logo{
  font-family: 'Bebas Neue', cursive;
  @apply text-yellow;
  @apply font-semibold;
  @apply text-4xl;
}
.subtitle{
  font-family: 'Alegreya Sans', sans-serif;
  @apply uppercase;
  @apply text-black-400;
  @apply font-semibold;
}

body label{
  font-family: 'Bebas Neue', cursive;
  @apply font-light;
}
input[type=text], input[type=number] {
  @apply p-8;
  @apply rounded;
  @apply mt-4;
  @apply mb-32;
  @apply w-full;
  background-color: #2c2c2c;
  font-family: 'Alegreya Sans', sans-serif;
}
body select{
  color: #000;
  @apply bg-white;
  appearance: auto;
  @apply p-8;
  @apply rounded;
  @apply mt-4;
  @apply mb-32;
}

.ctaButton{
    @apply inline-block;
    color: #000;
    @apply py-8;
    @apply px-16;
    border-radius: .5rem;
    @apply font-semibold;
    transition: 300ms;
    @apply bg-yellow;
    &:hover{
        box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
        transform: scale(1.05,1.05);
        @apply cursor-pointer;
    }
    &:disabled{
          background: rgb(244, 226, 22, 0.4);
    }
}


  
  #nav {
    padding: 30px;
  
    a {
      font-weight: bold;
      color: #2c3e50;
  
      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }

  @screen sm{
    body .container{
      width: 95vw;
    }
}
@screen md{

}
@screen lg {
   
  }