

.contentcontainer{
  z-index: 10;
  @apply relative;
  @apply w-5/6;
  @apply mx-auto;
}
.mainArticle, .secondArticle,.weekly{
  position: relative;
  padding-right: 500px;
  transition: 300ms;
}
.thirdArticle{
  position: relative;
  padding-left: 500px;
  transition: 300ms;
}
.articles{
  .bannerOverlay{
    opacity: 0;
  }

}
.articles .centered{
  @apply px-0;
  .bannerOverlay{
    opacity: 1;
  }

}
.articles{
  .mainArticle{
    height: 200px;
  }
  .mainArticle, .secondArticle, .thirdArticle, .weekly{
    @apply my-8;
    .bannerContainer{
      height: 200px;
      .bannerImg{
        height: 100%;
        @apply w-full;
        object-fit: cover;
        @apply rounded-lg;
   
      }
      .bannerTitle{
        @apply absolute;
        @apply z-10;
        left: 50%;                       
        bottom: 0px;                       
        transform: translate(-50%, -50%); 
        font-family: 'Bebas Neue', cursive;
        @apply font-semibold;
        @apply text-3xl;
        @apply w-5/6;
      }
      .bannerOverlay{
        @apply absolute;
        z-index: 5;
        background-color: rgba( 0, 0, 0, 0.5);
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        @apply rounded-lg;
      }
      .bannerIcon{
        @apply absolute;
        @apply z-10;
        left: 50%;                       
        top: 50%;                        
        transform: translate(-50%, -50%); 
      }
    }
  }
  .secondArticle, .thirdArticle{
    display: inline-table;
    @apply w-1/2;
    @apply mx-8;
    height: 180px;
    @apply relative;
    .bannerContainer{
      .bannerTitle{  
        @apply text-xl;
        @apply font-medium;
        bottom: -50px;
        position: absolute;
        height: 40%;
      }
    }
  }
}
.articles{
  .weekly{
    height: 200px;
    @apply mb-0;
  }
}

.content{
  position: relative;
}

@screen sm{

}
@screen md{

}
@screen lg {

  }