.bg{
  @apply h-full;
  width: 100%;
  @apply fixed;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/features/dirtbike.jpg);
  background-size: cover;
  background-position: center;
  top: 0;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.contentcontainer{
  z-index: 10;
  @apply relative;
  @apply w-5/6;
  @apply mx-auto;
}

.content{
  position: relative;
}

@screen sm{

}
@screen md{

}
@screen lg {

  }