.bg{
  @apply h-full;
  width: 100%;
  @apply fixed;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/features/bikerbuddy.jpg);
  background-size: cover;
  background-position: center;
  top: 0;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.contentcontainer{
  z-index: 10;
  @apply relative;
  @apply w-5/6;
  @apply mx-auto;
}

.buttons{
  @apply flex;
  @apply flex-col;
  @apply z-10;
  @apply fixed;
  @apply bottom-0;
  @apply mb-64;
  @apply left-0;
  @apply right-0;
  @apply w-1/2;
  @apply mx-auto;

  .button{
    @apply uppercase;
    @apply mx-auto;
    @apply w-full;
    @apply my-8;
    @apply text-lg;
    @apply z-20;
    &:hover{
      cursor: pointer;
    }
  }
}

.headsUp{
  @apply px-32;
  @apply z-10;
  @apply fixed;
  @apply bottom-0;
  @apply mb-16;
  @apply left-0;
  @apply right-0;
  @apply mx-auto;
  p{
    @apply text-sm;
  }
}

.content{
  position: relative;
}

@screen sm{
.bg{ display: none;}
}
@screen md{

}
@screen lg {

  }